/* Contact information style */
.container_fluid_custome .contact {
    font-size: 15px;
}

.container_fluid_custome .contact i svg{
    vertical-align: -12px;
    margin-right: 15px;
}

.container_fluid_custome .contact span {
    color: aliceblue;
    margin: 5px;
    vertical-align: -12px;
}

.container_fluid_custome .social {
    font-size: 15px;
    direction: ltr;
}

.container_fluid_custome .social i svg {
    vertical-align: -12px;
    margin-right: 1px;
    width: 40px;
}

.container_fluid_custome .social a i svg{
    color: aliceblue;
    transition: all 1s;
}

.container_fluid_custome .social a i svg:hover {
    filter: invert();
    scale: 150%;
}

