/* start Header Style */
.img_header {
    min-height: 90vh;
}

.overimg {
    width: 100%;
    min-height: 141vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.header_title {
    font-size: x-large;
    color: #fff;
    direction: rtl;
    margin: 250px;
}

.header_title h1 {
    text-decoration: underline;
}

.header_title a {
    transition: all 2s;
}

.header_title a:hover {
    color: tomato;
}

@media screen and (max-width:600px) {
    .header_title {
        margin: 5px 1px;
        font-size: xxx-large;
    }

    .overimg,
    .img_header {
        min-height: fit-content;
        background-color: rgba(79, 78, 78, 0.6);
        height: 305px;
    }

    .header_title a {
        background-color: orange;
        transition: none;
        float: left;
        margin-top: 50px;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    .header_title {
        margin-top: 1px;
        margin-right: 1px;

    }

    .header_title a {
        background-color: orange;
        transition: none;
        margin-top: 50px;
    }
}

/* End Header Style */