/* Start stats style */

.stat_section_wrapper {
    height: 250px;
}


.count_png {
    margin-top: 25px;
    animation-name: count;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: relative;
    transition: all 1s ease-in;
}

@keyframes count{
    50%{transform: rotate(25deg);}
    80%{transform: rotate(-25deg);}
}

.count_png:hover{
    scale: 120%;
}

.count {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin: 30px;
}

.count_title {
    font-size: x-large;
    margin-bottom: 45px;
}

/* Start stats style */