.img_responsive {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.wid100{
word-break:none;
}

.float_r{
float:right;
}

.float_l{
float:left;
}

.play_button{
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  filter: invert();
  transition: scale 1s ease-in;
}

.play_button:hover{
  scale: 150%;
}

.m_r_200{
  margin-right: 200px;
}

.m_l_90prc{
  margin-left: 90%;
}

.png_global{
  width: 25px;
  display: inline-block;
}

.btm0{
  bottom: 0;
}

.back1{
  background: url(../background/diagonal_striped_brick_@2X.png);
}

.back2{
  background: url(../background/gradient_squares_@2X.png);
}

.play_button:active{
  filter: none;
}

.bt20_percent{
  bottom: 20%;
}

.m_b_20{
  margin-bottom: 20px;
}

.gr_clr{
color: rgb(20, 150, 8);
border: 2px black;
}

.white_bg{
  color: aliceblue;
}


.font-light{
font-size: 9px;
font-family:sans-serif;
}

.gold_button_util{
  background-color: orange;
    transition: none;
    float: left;
    margin-top: 50px;
    transition: all 1s ease-in-out;
}

.silver{
  color: rgb(104, 102, 102);
}

.gold_button_util:hover{
  border-radius: 0 7px 0 7px;
}

.hnd_pointer{
cursor: pointer;
}

.font-normal{
font-size:large;
font-family:sans-serif;
}

.font-heavy{
font-size: x-large;
font-family: sans-serif;
}

.top0 {
  top: 0;
}


.m_l_320{
  margin-left: 320px;
}
 .b_red{
  background-color: crimson;
 }

.m_t_5{
  margin-top: 5px;
}

.m_b220{
  margin-bottom: 220px;
}

.m_l_20{
  margin-left: 6px;
  text-align: left;
}

.m_t_0{
  margin-top: 100px;
}

.inline{
  display: inline;
}

.m_r_220 {
  margin-right: 230px;
}

.m_l_220{
  margin-left: 230px;
  color: aliceblue;
}

.r_250{
  margin-right: 250px;
}

.p0{
  padding: 0;
}

.mt_20{
  margin-top: 50px;
}

.abs{
  position: absolute;
}

.txt_center{
  text-align: center;
}

.rel{
  position: relative;
}

@media only screen and (max-width: 600px) {
  .xs_hidden{
    display: none;
  }
  
  .col_xs_12 {
    width: 100%;
  }

  .col_xs_11 {
    width: 91.63%;
  }

  .col_xs_10 {
    width: 83.3%;
  }

  .col_xs_9 {
    width: 75%;
  }

  .col_xs_8 {
    width: 66.64%;
  }

  .col_xs_7 {
    width: 58.31%;
  }

  .col_xs_6 {
    width: 50%;
  }

  .col_xs_5 {
    width: 41.65%;
  }

  .col_xs_4 {
    width: 33.32%;
  }

  .col_xs_3 {
    width: 25%;
  }

  .col_xs_2 {
    width: 16.66%;
  }

  .col_xs_1 {
    width: 8.33%;
  }

  .col_xs_offset_12 {
    margin-right: 100%;
  }

  .col_xs_offset_11 {
    margin-right: 91.63%;
  }

  .col_xs_offset_10 {
    margin-right: 83.3%;
  }

  .col_xs_offset_9 {
    margin-right: 75%;
  }

  .col_xs_offset_8 {
    margin-right: 66.64%;
  }

  .col_xs_offset_7 {
    margin-right: 58.31%;
  }

  .col_xs_offset_6 {
    margin-right: 50%;
  }

  .col_xs_offset_5 {
    margin-right: 41.65%;
  }

  .col_xs_offset_4 {
    margin-right: 33.32%;
  }

  .col_xs_offset_3 {
    margin-right: 25%;
  }

  .col_xs_offset_2 {
    margin-right: 16.66%;
  }

  .col_xs_offset_1 {
    margin-right: 8.33%;
  }

  .col_xs_offset_0 {
    margin-right: 0;
  }


  [class^="col_"] {
  float: right;
  padding-left: none;
  padding-right: none;
  }


}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .s_hidden{
    display: none;
  }

  .col_s_12 {
    width: 100%;
  }

  .col_s_11 {
    width: 91.63%;
  }

  .col_s_10 {
    width: 83.3%;
  }

  .col_s_9 {
    width: 75%;
  }

  .col_s_8 {
    width: 66.64%;
  }

  .col_s_7 {
    width: 58.31%;
  }

  .col_s_6 {
    width: 50%;
  }

  .col_s_5 {
    width: 41.65%;
  }

  .col_s_4 {
    width: 33.32%;
  }

  .col_s_3 {
    width: 25%;
  }

  .col_s_2 {
    width: 16.66%;
  }

  .col_s_1 {
    width: 8.33%;
  }

  .col_s_offset_12 {
    margin-right: 100%;
  }

  .col_s_offset_11 {
    margin-right: 91.63%;
  }

  .col_s_offset_10 {
    margin-right: 83.3%;
  }

  .col_s_offset_9 {
    margin-right: 75%;
  }

  .col_s_offset_8 {
    margin-right: 66.64%;
  }

  .col_s_offset_7 {
    margin-right: 58.31%;
  }

  .col_s_offset_6 {
    margin-right: 50%;
  }

  .col_s_offset_5 {
    margin-right: 41.65%;
  }

  .col_s_offset_4 {
    margin-right: 33.32%;
  }

  .col_s_offset_3 {
    margin-right: 25%;
  }

  .col_s_offset_2 {
    margin-right: 16.66%;
  }

  .col_s_offset_1 {
    margin-right: 8.33%;
  }

  .col_s_offset_0 {
    margin-right: 0;
  }


  [class^="col_"] {
  float: right;
  padding-left: none;
  padding-right: none;
   }

}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .x_md_hidden{
    display: none;
  }

  .col_x_md_12 {
    width: 100%;
  }

  .col_x_md_11 {
    width: 91.63%;
  }

  .col_x_md_10 {
    width: 83.3%;
  }

  .col_x_md_9 {
    width: 75%;
  }

  .col_x_md_8 {
    width: 66.64%;
  }

  .col_x_md_7 {
    width: 58.31%;
  }

  .col_x_md_6 {
    width: 50%;
  }

  .col_x_md_5 {
    width: 41.65%;
  }

  .col_x_md_4 {
    width: 33.32%;
  }

  .col_x_md_3 {
    width: 25%;
  }

  .col_x_md_2 {
    width: 16.66%;
  }

  .col_x_md_1 {
    width: 8.33%;
  }

  .col_x_md_offset_12 {
    margin-right: 100%;
  }

  .col_x_md_offset_11 {
    margin-right: 91.63%;
  }

  .col_x_md_offset_10 {
    margin-right: 83.3%;
  }

  .col_x_md_offset_9 {
    margin-right: 75%;
  }

  .col_x_md_offset_8 {
    margin-right: 66.64%;
  }

  .col_x_md_offset_7 {
    margin-right: 58.31%;
  }

  .col_x_md_offset_6 {
    margin-right: 50%;
  }

  .col_x_md_offset_5 {
    margin-right: 41.65%;
  }

  .col_x_md_offset_4 {
    margin-right: 33.32%;
  }

  .col_x_md_offset_3 {
    margin-right: 25%;
  }

  .col_x_md_offset_2 {
    margin-right: 16.66%;
  }

  .col_x_md_offset_1 {
    margin-right: 8.33%;
  }

  .col_x_md_offset_0 {
    margin-right: 0;
  }


  [class^="col_"] {
  float: right;
  padding-left: none;
  padding-right: none;
   }

}

@media screen and (min-width: 1001px){
  .md_hidden{
    display: none;
  }
  
  .col_md_12 {
    width: 100%;
  }

  .col_md_11 {
    width: 91.63%;
  }

  .col_md_10 {
    width: 83.3%;
  }

  .col_md_9 {
    width: 75%;
  }

  .col_md_8 {
    width: 66.64%;
  }

  .col_md_7 {
    width: 58.31%;
  }

  .col_md_6 {
    width: 50%;
  }

  .col_md_5 {
    width: 41.65%;
  }

  .col_md_4 {
    width: 33.32%;
  }

  .col_md_3 {
    width: 25%;
  }

  .col_md_2 {
    width: 16.66%;
  }

  .col_md_1 {
    width: 8.33%;
  }

  .col_md_offset_12 {
    margin-right: 100%;
  }

  .col_md_offset_11 {
    margin-right: 91.63%;
  }

  .col_md_offset_10 {
    margin-right: 83.3%;
  }

  .col_md_offset_9 {
    margin-right: 75%;
  }

  .col_md_offset_8 {
    margin-right: 66.64%;
  }

  .col_md_offset_7 {
    margin-right: 58.31%;
  }

  .col_md_offset_6 {
    margin-right: 50%;
  }

  .col_md_offset_5 {
    margin-right: 41.65%;
  }

  .col_md_offset_4 {
    margin-right: 33.32%;
  }

  .col_md_offset_3 {
    margin-right: 25%;
  }

  .col_md_offset_2 {
    margin-right: 16.66%;
  }

  .col_md_offset_1 {
    margin-right: 8.33%;
  }

  .col_md_offset_0 {
    margin-right: 0;
  }

  [class^="col_"] {
  float: right;
  padding-left: none;
  padding-right: none;
}

}
