<!-- Start Stats Part -->
{% load static%}
    <section class="container_fluid mt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-12 col-md-3 text-center">
            <img
              class="count_png"
              src="{% static 'Icons/PNG/download.png' %}"
              alt="downloads"
              width="20%"
            />
            <div class="count">355</div>
            <p class="count_title">دانلود روزانه</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-12 col-md-3 text-center">
            <img
              class="count_png"
              src="{% static 'Icons/PNG/eye.png' %}"
              alt="views"
              width="20%"
            />
            <div class="count">842</div>
            <p class="count_title">بازدید سایت</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-12 col-md-3 text-center">
            <img
              class="count_png"
              src="{% static 'Icons/PNG/user.png' %}"
              alt="users"
              width="20%"
            />
            <div class="count">200</div>
            <p class="count_title">کاربران سایت</p>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-12 col-md-3 text-center">
            <img
              class="count_png"
              src="{% static 'Icons/PNG/subtitles.png' %}"
              alt="subtitles"
              width="20%"
            />
            <div class="count">1982</div>
            <p class="count_title">زیرنویس های تیم ترجمه</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Stats Section -->