{%extends 'base.html' %}
<!DOCTYPE html>
<html lang="fa">
  {%load static%} {%block head%}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="{% static 'movie/css/bootstrap-grid.rtl.min.css'%}"
  />
  <link rel="stylesheet" href="{% static 'movie/css/bootstrap.min.css'%}" />
  <script
    src="https://kit.fontawesome.com/ffcf394c72.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'movie/css/style.css' %}" />
  <title>دربند فیلم</title>
  {%endblock%} {%block content%} {%include 'union/Nav.html'%} {% include 'union/Album.html'%} {% if search %}
  <!-- Start Content -->
  <section>
    <section class="container-fluid text-center">
      <section class="row px-lg-5">
        {% for feed in search %}
        <section
          class="card bg-light border-0 rounded-5 mx-auto col-xl-4 col-lg-3 col-md-3 col-sm-6 m-1 col-xs-12 h5 mt-5"
        >
          <div class="card-subtitle"></div>
          <section
            class="card mt-5 rounded-5 border-opacity-75 overflow-hidden"
          >
            <section class="card-header">
              <a href="{% url 'movie' feed.pk %}">
                <h1 class="card-title">{{feed.name}}</h1>
              </a>
              <img
                class="card-img-top rounded-5"
                src="{% for pi in feed.images.all%} {{pi.image.url}} {% endfor %}"
                alt="{{feed.name}}"
              />
            </section>
            <section class="card_body text-left">
              <section class="card-text text-right">
                <i
                  ><svg
                    class="comment"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                      d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"
                    /></svg
                  ><span>{{feed.comments.count}}</span></i
                >
                <p class="text-success">{{feed.register_date}}</p>
              </section>
              <section>
                <p class="text-muted">{{feed.quality.first.quality}}</p>
                <section>
                  {%for gnr in feed.genresmovies.all %}
                  <a class="link-info text-decoration-none" href=""
                    ><span>{{gnr.genre_id}}</span></a
                  >
                  {%endfor%}
                </section>
                <p>{{feed.summary}}</p>
              </section>
            </section>
            <a
              href="{% url 'movie' feed.pk %}"
              class="btn btn-outline-primary mb-1 border-bottom-0 border-end-0 border-start-0"
              >More</a
            >
          </section>
        </section>
        {%endfor%}
      </section>
    </section>
  </section>
  <!-- End Content -->
  {% else %} {% endif%}
  <!-- Start Content -->
  <section>
    <section class="container-fluid text-center">
      <section class="row px-lg-5">
        {% for feed in movie %}
        <section
          class="card bg-light border-0 rounded-5 mx-auto col-xl-4 col-lg-3 col-md-3 col-sm-6 m-1 col-xs-12 h5 mt-5"
        >
          <section
            class="card mt-5 rounded-5 border-opacity-75 overflow-hidden"
          >
            <section class="card-header">
              <a class="text-decoration-none" href="{% url 'movie' feed.pk %}">
                <h1 class="card-title">{{feed.name}}</h1>
              </a>
              <img
                class="card-img-top rounded-5"
                src="{% for pi in feed.images.all%} {{pi.image.url}} {% endfor %}"
                alt="{{feed.name}}"
              />
            </section>
            <section class="card_body text-left">
              <section class="card-text text-right">
                <i
                  ><svg
                    class="comment"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                      d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"
                    /></svg
                  ><span>{{feed.comments.count}}</span></i
                >
                <p class="text-success">{{feed.register_date}}</p>
              </section>
              <section>
                <p class="text-muted">{{feed.quality.first.quality}}</p>
                <section>
                  {%for gnr in feed.genresmovies.all %}
                  <a class="link-info text-decoration-none" href=""
                    ><span>{{gnr.genre_id}}</span></a
                  >
                  {%endfor%}
                </section>
                <p>{{feed.summary}}</p>
              </section>
            </section>
            <a
              href="{% url 'movie' feed.pk %}"
              class="btn btn-outline-primary mb-1 border-bottom-0 border-end-0 border-start-0"
              >More</a
            >
          </section>
        </section>
        {%endfor%}
      </section>
    </section>
  </section>
  <nav aria-label="Page navigation" dir="rtl">
    <ul class="pagination mt-5 justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_obj.number }}</a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
      <li class="page-item"><p class="page-link">...</p></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <!-- End Content -->
  {%include 'union/Trailers.html'%} {%include 'union/Stats.html'%}
  {%include 'union/footer.html'%}
  <script src="{% static 'movie/js/jquery-3.4.1.slim.min.js'%}"></script>
  <script src="{% static 'movie/js/jquery.min.3.3.1.js' %}"></script>
  <script src="{% static 'movie/js/popper.min.js'%}"></script>
  <script src="{% static 'movie/js/bootstrap.bundle.min.js'%}"></script>
  {%endblock%}
</html>
